node_modules

# typescript output
*.js
!jest.config.js
*.d.ts

# temp files for cdk
built-files
built-files/*
cdk-output-data

# CDK asset staging directory
.cdk.staging
cdk.out

# dotenv environment variables file
.env
.env.test
